body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 65px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
}
#hero p{
  font-size: 14px;
  line-height: 28px;
}
h2{
  font-size: 22px;
  font-weight: 700;
  color:  rgba(137, 197, 204, 1);
  font-family: 'Inter', sans-serif;
}
#hero {
    width: 489.38px;
    margin: 72px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#corpo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
img {
    margin: 100px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
  margin-bottom: 32px;
}

span, a {
  color: rgba(137, 197, 204, 1);
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;

    margin: 0 8px;

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}
h3{
  color: #fff;
}
button{
  padding: 14px, 32px, 15px, 32px;
  width: 182px;
  height: 56px;
  border-radius: 4px;
  background-color:rgba(105, 185, 157, 1);
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#footer p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 162px;
  align-items: center;
}